// layout 共用样式
@import "@/styles/var.scss";

.layout {
  width: 100%;
  height: 100%;
  overflow: hidden;

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    height: $headerHeight;
    line-height: $headerHeight;
    background-color: #fff;
    &.horizontal {
      .el-dropdown {
        color: #fff;
      }
      color: #fff;
      background-color: $menuBgColor;
    }
    &.dark {
      background-color: var(--el-bg-color-overlay);
    }
    &-title {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-shrink: 0;
      padding: 0 18px;
      color: var(--el-text-color-primary);
      font-size: 18px;
      font-weight: bold;
      transition-property: all;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: $menuTranstionDuration;
      overflow: hidden;
      white-space: nowrap;
      cursor: pointer;
      &.dark {
        color: var(--el-text-color-primary);
      }
      &.fold {
        width: $menuFoldWidth;
      }
      &.expand {
        width: $menuExpandWidth;
      }
    }
  }

  &-aside {
    overflow-x: hidden;
    overflow-y: auto;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: $menuTranstionDuration;
    background-color: $menuBgColor;
    scrollbar-width: thin;
    &.dark {
      border-right: 1px solid var(--el-border-color);
      background-color: var(--el-bg-color-overlay);
    }
    &.fold {
      width: $menuFoldWidth;
    }
    &.expand {
      width: $menuExpandWidth;
    }
  }

  &-main {
    height: calc(100% - $headerHeight);
    background-color: var(--el-bg-color-page);
    &-content {
      position: relative;
      padding: 12px;
      background-color: var(--el-bg-color-page);
      border-radius: 4px;
      overflow-x: hidden;
      &.transparent {
        background-color: var(--el-bg-color-page);
        .main-wrapper {
          padding: 0;
          background-color: var(--el-bg-color-page);
        }
      }
      .main-wrapper {
        padding: 12px;
        background-color: var(--el-bg-color-overlay);
        border-radius: 4px;
      }
    }
  }
}
