$headerHeight: 48px; // Header高度
$breadHeight: 40px; // 面包屑高度
$menuFoldWidth: 64px; // 菜单宽度-折叠后
$menuExpandWidth: 208px; // 菜单宽度-展开后
$menuTranstionDuration: 200ms; // 菜单展开/折叠动画时长
$menuBgColor: #324057; // 菜单背景色
$menuActiveBgColor: var(--el-color-primary); // 菜单hover、激活背景色，默认为当前主题色
