@font-face {
  font-family: "iconfont"; /* Project id 3986351 */
  src: url('iconfont.woff2?t=1699582369054') format('woff2'),
       url('iconfont.woff?t=1699582369054') format('woff'),
       url('iconfont.ttf?t=1699582369054') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bianzu:before {
  content: "\e610";
}

.icon-a-bianzu3:before {
  content: "\e611";
}

.icon-a-bianzu2:before {
  content: "\e612";
}

.icon-shouye:before {
  content: "\e751";
}

.icon-caidan:before {
  content: "\e652";
}

.icon-kaifazujian:before {
  content: "\e640";
}

.icon-enter:before {
  content: "\e95c";
}

